.chat-side
  = render partial: 'shared/side_bar'
.chat-main
  .chat-main__header
    .chat-main__header__content
      %p.chat-main__header__content__groupname チャットグループ名
      %a.chat-main__header__content__editbutton{href: ''} Edit
    %p.chat-main__header__members メンバー一覧
  .chat-main__body
    = render partial: 'message', collection: @messages
  / .chat-main__body
  /   .chat-main__body__content
  /     %p.chat-main__body__content__name 送信者
  /     %p.chat-main__body__content__date 日付
  /     %p.chat-main__body__content__message メッセージ
  / .chat-main__footer
  /   .chat-main__footer__contents
  /     .chat-main__footer__contents__input
  /       %input{placeholder: "type a message"}
  /       %a.fa.fa-image{href: ''}
  /     %a.sendbutton{href:''} Send
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
